.main {
   flex: 1 1 auto;
}

.intro{
   padding-top: 144px;
   padding-bottom: 100px;
   &__wrap{
      position: relative;
   }
   &__back-img{
      position: absolute;
      right: -10%;
      top: -235px;
      max-width: 672px;
      max-height: 586px;
      z-index: -1;
      img{
         width: 100%;
         height: 100%;
      }
      &::after{
         content: "";
         display: block;
         width: 80px;
         height: 80px;
         position: absolute;
         //top: calc((586px - 40px) * 100% / 586px);
         bottom: -40px;
         left: calc(348px * 100% / 672px);
         background: #FFFFFF url('../../img/main-logo.svg') center (center/30%) no-repeat;
         border-radius: 100%;
      }
   }
   &__descr{
      max-width: 469px;
   }
   &__title{
      font-size: 56px;
      line-height: 67px;
      text-align: left;
   }
   &__txt{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
   }
   &__get-app{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 312px;
      margin-top: 33px;
   }
   &__button{
      padding: 18px 48px;
      border-radius: 40px;
      background-color: $main-color;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
      &:hover{
         background-color: #dd3f00;
      }
   }
   &__apps{
      max-width: 80px;
      max-height: 32.11px;
      img{
         margin-right: 23px;
         width: 26.12px;
         &:last-child{
            margin: 0;
         }
      }
   }
}

.store{
   padding-top: 120px;
   padding-bottom: 90px;
   &__items{
      margin-top: 86px;
   }
   &__header{
      display: flex;
      justify-content: space-between;
      &:nth-child(n+2){
         margin-top: 96px;
      }
   }
   &__item{
      display: flex;
      gap: 54px;
   }
   &__caption{
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #121212;
   }
   &__more-products{
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #868686;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      &:hover{
         color: #121212;
      }
   }
   &__guitars-box{
      max-width: 364px;
      max-height: 282px;
      margin-top: 32px;
   }
   &__guitar-img{
      max-width: 364px;
      max-height: 190px;
      img{
         width: 100%;
         height: 100%;
         transition: all 0.3s ease-in-out;
         &:hover{
            transform: scale(110%) rotate(-5deg);
         }
      }
   }
   &__guitar-name{
      margin-top: 40px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #121212;
   }
   &__guitar-price{
      margin-top: 7px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #666666;
   }
}

.categories{
   padding: 90px 0 110px 0;
   &__title{
      margin-bottom: 80px;
   }
   &__cards{
      max-width: 1088px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 69px;
   }
   &__card{
      position: relative;
      height: 280px;
      width: 220px;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      figcaption{
         position: absolute;
         top: calc((280px - 30px) * 100% / 310px); //You can add additional 30px to main height of block (280 + 30) or add to element height (30 + 30).
         left: 50%;
         transform: translateX(-50%);
         font-weight: 600;
         font-size: 20px;
         line-height: 30px;
         color: #FFFFFF;
         border-radius: 20px;
      }
      &:hover{
         img{
            width: 110%;
            height: 110%;
         }
         box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
   }
   &__img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      transition: all 0.4s ease-in-out;
   }
}

.brands{
   padding: 110px 0 140px;
   &__title{
      margin-bottom: 75px;
   }
   &__items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1021px;
      margin: 0 auto;
   }
   &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-height: 229px;
      margin-bottom: 40px;
      &:not(:last-child){
         margin-right: 20px;
      }
      &:nth-child(1){
         width: 142.69px;
         height: 229px;
      }
      &:nth-child(2){
         width: 136px;
         height: 191px;
      }
      &:nth-child(3){
         width: 152px;
         height: 207px;
      }
      &:nth-child(4){
         width: 110.47px;
         height: 218px;
      }
   }
}

.descr-opportunity{
   background-color: #121212;
   padding: 93px 0 94px;
   &__title{
      color: #FFFFFF;
      margin-bottom: 75px;
   }
   &__items{
      display: flex;
      justify-content: space-between;
      max-width: 1130px;
      margin: 0 auto;
   }
   &__item{
      max-width: 230px;
   }
   &__img{
      width: 72px;
      height: 72px;
      background: #262626;
      border-radius: 20px;
      position: relative;
      margin: 0 auto;
      margin-bottom: 40px;
      img{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &__item-heading{
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 12px;
   }
   &__item-txt{
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      text-transform: capitalize;
      color: #666666;
   }
}