.main {
   flex: 1 1 auto;
}

.intro{
   padding-top: 144px;
   padding-bottom: 100px;
   &__wrap{
      position: relative;
   }
   &__back-img{
      position: absolute;
      max-width: 672px;
      width: calc(672px * 100% / 1200px);
      max-height: 586px;
      padding-top: calc(586px * 100% / 1200px);
      z-index: -1;
      img{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
      &::after{
         content: "";
         width: calc(80px * 100% / 672px);
         padding-top: calc(80px * 100% / 672px);
         position: absolute;
         bottom: 0;
         transform: translateY(50%);
         left: calc(348px * 100% / 672px);

         background: #FFFFFF url('../../img/main-logo.svg') center (center/30%) no-repeat;
         border-radius: 100%;
      }
   }
   &__descr{
      max-width: 469px;
   }
   &__title{
      font-size: 56px;
      line-height: calc(67 / 56);
      //line-height: 67px;
      text-align: left;
   }
   &__txt{
      font-weight: 500;
      font-size: 16px;
      line-height: calc(24 / 16);
      //line-height: 24px;
      margin-top: 16px;
   }
   &__get-app{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 312px;
      margin-top: 33px;
   }
   &__button{
      border-radius: 40px;
      background-color: $main-color;
      font-weight: 600;
      line-height: calc(24 / 16);
      //line-height: 24px;
      color: #FFFFFF;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
      &:hover{
         background-color: #dd3f00;
      }
   }
   &__apps{
      max-width: 80px;
      max-height: 32.11px;
      img{
         margin-right: 23px;
         width: 26.12px;
         &:last-child{
            margin: 0;
         }
      }
   }
}

.store{
   padding-top: 120px;
   padding-bottom: 90px;
   &__items{
      margin-top: 86px;
   }
   &__header{
      display: flex;
      justify-content: space-between;
      &:nth-child(n+2){
         margin-top: 96px;
      }
   }
   &__item{
      display: flex;
      gap: 54px;
   }
   &__caption, &__more-products{
      font-size: 20px;
      line-height: calc(30 / 20);
      //line-height: 30px;
   }
   &__caption{
      font-weight: 600;
      color: #121212;
   }
   &__more-products{
      font-weight: 500;
      color: #868686;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      &:hover{
         color: #121212;
      }
   }
   &__guitars-box{
      max-width: 364px;
      max-height: 282px;
      margin-top: 32px;
   }
   &__guitar-img{
      max-width: 364px;
      max-height: 190px;
      img{
         width: 100%;
         height: 100%;
         transition: all 0.3s ease-in-out;
         &:hover{
            transform: scale(110%) rotate(-5deg);
         }
      }
   }
   &__guitar-name{
      margin-top: 40px;
      font-weight: 500;
      font-size: 16px;
      line-height: calc(24 / 16);
      //line-height: 24px;
      color: #121212;
   }
   &__guitar-price{
      margin-top: 7px;
      font-weight: 400;
      font-size: 14px;
      line-height: calc(21 / 14);
      //line-height: 21px;
      color: #666666;
   }
}

.categories{
   padding: 90px 0 110px 0;
   &__title{
      margin-bottom: 80px;
   }
   &__cards{
      max-width: 1088px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 69px;
   }
   &__card{
      position: relative;
      height: 280px;
      width: 220px;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      figcaption{
         position: absolute;
         top: calc((280px - 30px) * 100% / 310px); //You can add additional 30px to main height of block (280 + 30) or add to element height (30 + 30).
         left: 50%;
         transform: translateX(-50%);
         font-weight: 600;
         font-size: 20px;
         line-height: calc(30 / 20);
         //line-height: 30px;
         color: #FFFFFF;
         border-radius: 20px;
      }
      &:hover{
         img{
            width: 110%;
            height: 110%;
         }
         box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
   }
   &__img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      transition: all 0.4s ease-in-out;
   }
}

.brands{
   padding: 110px 0 140px;
   &__title{
      margin-bottom: 75px;
   }
   &__items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1021px;
      margin: 0 auto;
   }
   &__item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-height: 229px;
      margin-bottom: 40px;
      &:not(:last-child){
         margin-right: 20px;
      }
      &:nth-child(1){
         width: 142.69px;
         height: 229px;
      }
      &:nth-child(2){
         width: 136px;
         height: 191px;
      }
      &:nth-child(3){
         width: 152px;
         height: 207px;
      }
      &:nth-child(4){
         width: 110.47px;
         height: 218px;
      }
   }
}

.descr-opportunity{
   background-color: #121212;
   padding: 93px 0 94px;
   &__title{
      color: #FFFFFF;
      margin-bottom: 75px;
   }
   &__items{
      display: flex;
      justify-content: space-between;
      max-width: 1130px;
      margin: 0 auto;
   }
   &__item{
      max-width: 230px;
   }
   &__img{
      width: 72px;
      height: 72px;
      background: #262626;
      border-radius: 20px;
      position: relative;
      margin: 0 auto;
      margin-bottom: 40px;
      img{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &__item-heading{
      font-weight: 600;
      font-size: 18px;
      line-height: calc(27 / 18);
      //line-height: 27px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 12px;
   }
   &__item-txt{
      font-weight: 400;
      font-size: 14px;
      line-height: calc(21 / 14);
      //line-height: 21px;
      text-align: center;
      text-transform: capitalize;
      color: #666666;
   }
}

.feedback{
   padding: 240px 0 120px 0;
   &__wrap{
      margin: 0 25.84px 0 97px;
   }
   &__title{
      margin-bottom: 109px;
      span{
         text-transform: unset;
      }
   }
}
.customers{
   &__slider{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__photo-box{
      position: relative;
      width: 407px;
      height: 341px;
      margin-right: 20px;
   }
   &__decor{
      position: absolute;
      top: 40px;
      left: 18px;
      //width: 284.72px;
      //height: 257.89px;
      padding-bottom: calc(257.89px * 100% / 407px);
      width: calc(284.72px * 100% / 407px);
      background: $main-color;
      border-radius: 40px 0px 400px 400px;
      transform: rotate(-7.72deg);
   }
   &__photo{
      position: absolute;
      right: 0;
      //max-width: 326px;
      width: calc(326px * 100% / 407px);
      border-radius: 100% 100%;
      overflow: hidden;
      img{
         width: 100%;
         height: 100%;
      }
   }
   &__txt-box{
      max-width: 524px;
      //max-height: 283px;
   }
   &__txt, &__name{
      font-size: 24px;
      line-height: calc(38 / 24);
   }
   &__txt{
      font-weight: 400;
      color: #666666;
      margin-bottom: 56px;
      p{
         &:not(:last-child){
            margin-bottom: 15px;
         }
      }
   }
   &__sub-txt{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
   &__whoisit{
      margin-right: 20px;
   }
   &__name{
      font-weight: 600;
   }
   &__career{
      font-weight: 500;
      font-size: 18px;
      line-height: calc(29 / 18);
      //line-height: 29px;
      letter-spacing: 0.08em;
      color: #868686;
      text-transform: uppercase;
      margin-top: 8px;
   }
   &__paginations{
      width: auto !important;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 8px;
      margin: 0 14px 12px 0;
      right: 0;
      bottom: 0;
   }
   &__pagination-bullet{
      display: inline-block;
      width: 10px;
      height: 16px;
      background: #C4C4C4;
      border-radius: 20px;
      opacity: 1;
      cursor: pointer;
      &_active{
         background: $main-color;
         height: 12px;
         width: 24px;
         &:not(:last-child){
            margin-right: 4px;
         }
         &:last-child{
            margin-left: 4px;
         }
      }
   }
}

.apps{
   padding: 120px 0;
   &__wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 14px;
   }
   &__descr{
      flex: 0 1 484px;
      margin-right: 20px;
   }
   &__title{
      margin-bottom: 60px;
      text-align: left;
      font-size: 48px;
      line-height: calc(66 / 48);
      //line-height: 66px;
      span{
         text-transform: lowercase;
      }
   }
   &__pictures{
      max-height: 57px;
      img{
         height: 100%;
         width: 100%;
      }
   }
   &__picture{
      display: inline-block;
      max-width: 192.375px;
      max-height: 57px;
      border-radius: 5px;
      overflow: hidden;
      &:not(:last-child){
         margin-right: 25.65px;
      }
   }
   &__app-examples{
      position: relative;
      flex: 0 1 calc(568px * 100% / 1172px);
      padding-top: calc(533px * 100% / 1172px);
      // or height: 533px;
      div{
         &:nth-child(2){
            top: 0;
            left: 8.627%;
         }
         &:nth-child(3){
            bottom: 0;
            right: 10.39%;
         }
      }
   }
   &__decor{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      width: 100%;
      padding-top: calc(354px * 100% / 568px);
      // or height: 354px;
      background-color: $main-color;
      border-radius: 50%;
   }
   &__app-img{
      position: absolute;
      max-width: 213px;
      width: calc(213px * 100% / 533px);
      max-height: 461px;
      padding-top: calc(461px * 100% / 533px);
      overflow: hidden;
      border-radius: 25px;
      background-image: url(../../img/apps-img/appsSketch1.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.08);
   }
}
